<%- include('./partials/head')%>
</head>
<body>
    <%- include('./partials/header')%>

  
    <main class="bg-[#FF5A5F] my-16 w-[50%] m-auto rounded-md shadow-2xl hover:bg-red-300 transition duration-300" > 
        <h1 class="text-white text-6xl text-center font-bold py-16 "><a href="/">404 Page Not Found</a></h1> 
    </main>
   
</body>
</html>