

<main class="bg-[#FF5A5F] h-[50px] flex justify-center gap-[100px] items-center">
        <a href="/" class="text-[15px]  text-white font-bold" >Go To Home</a>
       <a href="/host/add-home" class="text-[15px]  text-white font-bold " >Add Home</a>

    </main>