<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resgister Home</title>
</head>
<body>
    <header>
        <h1>
            Register Your Home on Below Form
        </h1>

    </header>
    <main>
        <form action="/host/add-home" method="POST">
            <label for="houseName">Home:</label>
            <input type="text"  id="houseName" name="home" value=" " placeholder="Input Home Name">
        </br></br>
        
            <label for="id">Email:</label>
            <input type="text"  id="id" name="Email" value=" " placeholder="johndoe@gmail.com">
            </br></br>
            <input type="submit" >
        </form>
    </main>
</body>
</html>