<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="output.css"
</head>
<body>
    
    <main class="bg-[#FF5A5F] h-[50px] flex justify-center gap-[100px] items-center">
        <a href="/" class="text-[15px]  text-white font-bold" >Go To Home</a>
       <a href="/host/add-home" class="text-[15px]  text-white font-bold " >Add Home</a>

    </main>
    <header class="border-solid border-1 mt-5 border-gray-300 bg-[#FF5A5F] shadow-2xl text-white rounded-2xl pl-4 pt-8 pb-8 w-[50%] m-auto">
        <h1 class="text-center text-[50px] font-bold">
         Welcome to AirBnB
        </h1>
    </header>
    <section>
        <h1>
            Registred Homes:
        </h1>
        <ul>
            <% lonenly.forEach(homes=>{%>
              <li>
                <%= homes.home%>
              </li>
            <%})%>
            
        </ul>
    </section>
</body>
</html>