<%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/header')%>
    <header>
        <h1>
            Your Home Registerd Successfully
        </h1>
    </header>

    <main>
        <a href="/">Go Back to Home</a>
    </main>
    
</body>
</html>