<%- include('../partials/head') %>
</head>
<body>
    
    <%- include('../partials/header')%>
    <header class="border-solid border-1 mt-5 border-gray-300 bg-[#FF5A5F] shadow-2xl text-white rounded-2xl pl-4 pt-8 pb-8 w-[50%] m-auto">
        <h1 class="text-center text-[50px] font-bold">
         Welcome to AirBnB
        </h1>
    </header>

    <main>
        <h1>Popular homes in New Gurugram Districts ></h1>
    </main>
  
    </body>
</html>