<%- include("../partials/head")%>
</head>

<body>
    
       
        <%- include("../partials/header")%>
        
        <header class="py-16">
        <h1 class="text-4xl font-bold text-[#FF5A5F] text-center " >Reserved Homes</h1> 
        </header>
         

</body>
</html>